.Gallery {
  color: black;
  text-align: center;
}


.slides {
  padding: 0;
  width: 709px;
  height: 520px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;

  transform: scale(0);

  transition: all 0.7s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
}

.nav label {
  width: 100px;
  height: 100%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity 0.2s;

  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 500px;
  font-size: 60px;

  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label {
  opacity: 0.5;
}

.nav label:hover {
  opacity: 1;
}

.nav .next {
  right: 0;
}

input:checked + .slide-container .slide {
  opacity: 1;

  transform: scale(1);

  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label {
  display: block;
  background-color: rgba(255, 255, 255, 0.6);
}

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

.image1 {
  display: block;
  width: 400px;
  height: 300px;
  background-size: cover;
  text-align: center;
 
}
.image2 {
  display: block;
  width: 400px;
  height: 300px;
  background-size: cover;
  text-align: center;
  
  
}
.image3 {
  display: block;
  width: 400px;
  height: 300px;
  background-size: cover;
  text-align: center;

}

.image {
  position: relative;
  display: block;
  text-align: center;
  float: left;
 
}


.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s;
}

.image__overlay {
  opacity: 0;
}

.image__overlay:hover {
  opacity: 1;
}

h3 {
  font-weight: bold;
  padding: 0 0 0.5rem;
}
main {
  padding: 1rem;
  margin: 5%;
  height: 340px;
  float: left;
}

.volkan {
  color: #fff;
  font-size: small;
  opacity: 0.7;
  text-decoration: none;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  
}
input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6,
