*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' ,sans-serif;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-image: url(background.jpg);
}
.container{
max-width: 700px;
width: 100px;
background:transparent;
padding: 30px 35px;
border-radius: 5px;

}
.container .title{
    font-size: 60px;
    font-weight: 600;
    position: relative;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}
.user-details .input-box input{
    height: 50px;
    width: 90%;
    border-radius: 5px;
    font-size: 17px;
    border-bottom-width: 2px;
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
form .room-details .room-title{
    font-size: 25px;
    font-weight: 600;
}
form .room-details .category{
    display: flex;
    width: 60%;
    justify-content: space-between;
    color: white;
    margin: 14px 0;
}
.room-details .category label{
    display: flex;
    align-items: center;
}
.room-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;

}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three,
#dot-4:checked ~ .category label .four{
    border-color: #d9d9d9;
    background: blue;
}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
    